*.config
*.code-workspace
token.txt
debug.txt
[Oo]bj/
[Bb]in/
[Dd]ata/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
obj/
bin/
Bin/
Obj/
Khu.2/[Oo]bj/
Khu.2/[Bb]in/
Khu.2/[Dd]ata/
.vscode/
